/**************/
/* Custom CSS */
/**************/

.background1{
	background-color: #5893D6;
	padding: 50px;
}

.background2{
	background-color: #54C776;
	padding: 50px;
}

#want{
	background:yellow;
}

#need{
	background: blue;
}


#have {
	background: green;
}


#people-holder{
	font-family: 'Oswald', sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
	box-shadow: 0 0 10px #000000;
	background: #666666;
}

h1{
	padding: 20px;
	margin: 0px;
}

#directory {
	text-align: center;
}

body {
	background-color: #222222;
}

#front{
	padding-bottom: 80px;

}

.col-md-3{
	margin-top: 15px;
}
